# --------------------------------------------------
# Root ignores (common for frontend + backend)
# --------------------------------------------------

# Node
node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Environment variables
.env
.env.*
!.env.example

# Build output
dist/
build/
coverage/
*.lcov

# Cache
.cache/
.parcel-cache
.nyc_output
.eslintcache
.stylelintcache
.tsbuildinfo
.tanstack/

# OS files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
.directory
*~

# VSCode
.vscode-test

# Runtime / PID files
pids
*.pid
*.seed
*.pid.lock

# --------------------------------------------------
# Frontend-specific ignores
# --------------------------------------------------
frontend/.vite/
frontend/.svelte-kit/
frontend/.nuxt/
frontend/.next/
frontend/out/
frontend/.docusaurus
frontend/.vuepress/dist
frontend/.temp

# --------------------------------------------------
# Backend-specific ignores
# --------------------------------------------------
backend/.serverless/
backend/.fusebox/
backend/.dynamodb/
backend/.firebase/
backend/lib-cov
backend/build/Release
backend/generated/prisma/
backend/prisma/migrations/migration_lock.toml

# --------------------------------------------------
# Personal ignores
# --------------------------------------------------
/scripts
src/__test__/
